In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('iris.csv');

In [4]:
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [6]:
satosa=df[df['variety']=='Setosa']
versicolor=df[df['variety']=='Versicolor']
virginica=df[df['variety']=='Virginica']

In [8]:
satosa

    sepal.length  sepal.width  petal.length  petal.width variety
0            5.1          3.5           1.4          0.2  Setosa
1            4.9          3.0           1.4          0.2  Setosa
2            4.7          3.2           1.3          0.2  Setosa
3            4.6          3.1           1.5          0.2  Setosa
4            5.0          3.6           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
15           5.7          4.4           1.5          0.4  Setosa
16           5.4          3.9           1.3          0.4  Setosa
17           5.1          3.5           1.4          0.3  Setosa
18           5.7          3.8           1.7          0.3  Setosa
19           5.1          3.8           1.5          0.3  Setosa
20           5.4          3.4           1.7          0.2  Setosa
21           5.1          3.7           1.5          0.4  Setosa
22           4.6          3.6           1.0          0.2  Setosa
23           5.1          3.3           1.7          0.5  Setosa
24           4.8          3.4           1.9          0.2  Setosa
25           5.0          3.0           1.6          0.2  Setosa
26           5.0          3.4           1.6          0.4  Setosa
27           5.2          3.5           1.5          0.2  Setosa
28           5.2          3.4           1.4          0.2  Setosa
29           4.7          3.2           1.6          0.2  Setosa
30           4.8          3.1           1.6          0.2  Setosa
31           5.4          3.4           1.5          0.4  Setosa
32           5.2          4.1           1.5          0.1  Setosa
33           5.5          4.2           1.4          0.2  Setosa
34           4.9          3.1           1.5          0.2  Setosa
35           5.0          3.2           1.2          0.2  Setosa
36           5.5          3.5           1.3          0.2  Setosa
37           4.9          3.6           1.4          0.1  Setosa
38           4.4          3.0           1.3          0.2  Setosa
39           5.1          3.4           1.5          0.2  Setosa
40           5.0          3.5           1.3          0.3  Setosa
41           4.5          2.3           1.3          0.3  Setosa
42           4.4          3.2           1.3          0.2  Setosa
43           5.0          3.5           1.6          0.6  Setosa
44           5.1          3.8           1.9          0.4  Setosa
45           4.8          3.0           1.4          0.3  Setosa
46           5.1          3.8           1.6          0.2  Setosa
47           4.6          3.2           1.4          0.2  Setosa
48           5.3          3.7           1.5          0.2  Setosa
49           5.0          3.3           1.4          0.2  Setosa

In [10]:
merged_subset=pd.concat([satosa,versicolor])

In [11]:
merged_subset

    sepal.length  sepal.width  petal.length  petal.width     variety
0            5.1          3.5           1.4          0.2      Setosa
1            4.9          3.0           1.4          0.2      Setosa
2            4.7          3.2           1.3          0.2      Setosa
3            4.6          3.1           1.5          0.2      Setosa
4            5.0          3.6           1.4          0.2      Setosa
..           ...          ...           ...          ...         ...
95           5.7          3.0           4.2          1.2  Versicolor
96           5.7          2.9           4.2          1.3  Versicolor
97           6.2          2.9           4.3          1.3  Versicolor
98           5.1          2.5           3.0          1.1  Versicolor
99           5.7          2.8           4.1          1.3  Versicolor

[100 rows x 5 columns]

In [14]:
sorted_df=df.sort_values(by='petal.length',ascending=False)

In [15]:
sorted_df

     sepal.length  sepal.width  petal.length  petal.width    variety
118           7.7          2.6           6.9          2.3  Virginica
117           7.7          3.8           6.7          2.2  Virginica
122           7.7          2.8           6.7          2.0  Virginica
105           7.6          3.0           6.6          2.1  Virginica
131           7.9          3.8           6.4          2.0  Virginica
..            ...          ...           ...          ...        ...
41            4.5          2.3           1.3          0.3     Setosa
35            5.0          3.2           1.2          0.2     Setosa
14            5.8          4.0           1.2          0.2     Setosa
13            4.3          3.0           1.1          0.1     Setosa
22            4.6          3.6           1.0          0.2     Setosa

[150 rows x 5 columns]

In [16]:
transpose_df=df.transpose();

In [17]:
transpose_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepal.length,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal.width,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
petal.length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
petal.width,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
variety,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,...,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica

In [22]:
df['ID']=df.index;
melted_df=pd.melt(
    df,
    id_vars=['ID','variety'],
    value_vars=['sepal.length','sepal.width','petal.length','petal.width'],
    var_name='measurement',
    value_name='value'
)

In [23]:
melted_df

      ID    variety   measurement  value
0      0     Setosa  sepal.length    5.1
1      1     Setosa  sepal.length    4.9
2      2     Setosa  sepal.length    4.7
3      3     Setosa  sepal.length    4.6
4      4     Setosa  sepal.length    5.0
..   ...        ...           ...    ...
595  145  Virginica   petal.width    2.3
596  146  Virginica   petal.width    1.9
597  147  Virginica   petal.width    2.0
598  148  Virginica   petal.width    2.3
599  149  Virginica   petal.width    1.8

[600 rows x 4 columns]

In [27]:
wide_df=melted_df.pivot(
    index=['variety','ID'],
    columns='measurement',
    values='value'
).reset_index()

In [28]:
wide_df

measurement,variety,ID,petal.length,petal.width,sepal.length,sepal.width
0,Setosa,0,1.4,0.2,5.1,3.5
1,Setosa,1,1.4,0.2,4.9,3.0
2,Setosa,2,1.3,0.2,4.7,3.2
3,Setosa,3,1.5,0.2,4.6,3.1
4,Setosa,4,1.4,0.2,5.0,3.6
...,...,...,...,...,...,...
145,Virginica,145,5.2,2.3,6.7,3.0
146,Virginica,146,5.0,1.9,6.3,2.5
147,Virginica,147,5.2,2.0,6.5,3.0
148,Virginica,148,5.4,2.3,6.2,3.4
149,Virginica,149,5.1,1.8,5.9,3.0