In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('hepatitis_csv.csv')

In [4]:
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [6]:
df.replace('',np.nan,inplace=True)

In [7]:
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [8]:
numeric_cols = ['age', 'bilirubin', 'alk_phosphate', 'sgot', 'albumin', 'protime']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [9]:
df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [10]:
male_subset=df[df['sex']=='male']
female_subset=df[df['sex']=='female']

In [11]:
male_subset

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
20,22,male,True,True,True,False,False,True,False,False,False,False,False,0.9,48.0,20.0,4.2,64.0,False,live
24,25,male,False,True,False,False,False,True,False,False,False,False,False,0.4,45.0,18.0,4.3,70.0,False,live
27,58,male,True,False,True,False,False,True,True,False,True,False,False,1.4,175.0,55.0,2.7,36.0,False,live
32,41,male,True,True,True,True,True,True,False,False,False,False,False,0.7,81.0,53.0,5.0,74.0,False,live
33,26,male,False,False,False,False,False,True,True,False,False,False,False,0.5,135.0,29.0,3.8,60.0,False,live
37,20,male,False,False,True,True,True,False,True,True,True,False,False,2.3,150.0,68.0,3.9,NaN,False,live
47,28,male,True,False,True,True,False,True,True,False,False,False,False,1.8,191.0,420.0,3.3,46.0,False,live
59,45,male,False,False,True,True,False,True,False,True,False,False,False,1.0,85.0,75.0,NaN,NaN,False,live
77,34,male,False,True,False,False,False,True,True,False,False,False,False,0.6,30.0,24.0,4.0,76.0,False,live
83,67,male,False,False,True,True,False,True,False,NaN,NaN,NaN,NaN,1.5,179.0,69.0,2.9,NaN,False,live
84,62,male,True,False,True,True,False,True,True,False,True,False,False,1.3,141.0,156.0,3.9,58.0,False,live
90,50,male,False,False,True,False,False,False,True,True,True,False,False,0.9,230.0,117.0,3.4,41.0,True,live
115,69,male,True,False,True,False,False,True,False,False,False,False,False,3.2,119.0,136.0,NaN,NaN,True,live
125,34,male,True,False,True,True,True,False,True,False,True,False,False,0.7,70.0,24.0,4.1,100.0,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live

In [12]:
female_subset

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
5,34,female,True,False,False,False,False,True,False,False,False,False,False,0.9,95.0,28.0,4.0,75.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,36,female,True,False,False,False,False,True,False,False,False,False,False,0.6,120.0,30.0,4.0,NaN,True,live
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [14]:
merged_df=pd.concat([male_subset,female_subset],ignore_index=True)

In [16]:
merged_df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,22,male,True,True,True,False,False,True,False,False,False,False,False,0.9,48.0,20.0,4.2,64.0,False,live
2,25,male,False,True,False,False,False,True,False,False,False,False,False,0.4,45.0,18.0,4.3,70.0,False,live
3,58,male,True,False,True,False,False,True,True,False,True,False,False,1.4,175.0,55.0,2.7,36.0,False,live
4,41,male,True,True,True,True,True,True,False,False,False,False,False,0.7,81.0,53.0,5.0,74.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,36,female,True,False,False,False,False,True,False,False,False,False,False,0.6,120.0,30.0,4.0,NaN,True,live
151,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
152,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
153,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [18]:
sorted_df = df.sort_values(by=['age', 'sgot', 'protime'], na_position='last')

In [19]:
sorted_df

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
110,7,female,True,False,False,False,False,True,True,True,False,False,False,0.7,256.0,25.0,4.2,NaN,True,live
37,20,male,False,False,True,True,True,False,True,True,True,False,False,2.3,150.0,68.0,3.9,NaN,False,live
121,20,female,False,False,True,True,True,True,False,False,True,True,False,1.0,160.0,118.0,2.9,23.0,True,live
148,20,female,False,False,False,False,False,True,NaN,False,False,False,False,0.9,89.0,152.0,4.0,NaN,True,live
20,22,male,True,True,True,False,False,True,False,False,False,False,False,0.9,48.0,20.0,4.2,64.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,67,male,False,False,True,True,False,True,False,NaN,NaN,NaN,NaN,1.5,179.0,69.0,2.9,NaN,False,live
115,69,male,True,False,True,False,False,True,False,False,False,False,False,3.2,119.0,136.0,NaN,NaN,True,live
147,70,female,False,False,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,1.7,109.0,528.0,2.8,35.0,True,die
133,72,female,True,True,True,False,False,True,True,False,False,False,False,1.0,115.0,52.0,3.4,50.0,True,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live

In [20]:
transpose_df=df.transpose()

In [21]:
transpose_df

,0,1,2,3,4,5,6,7,8,9,...,145,146,147,148,149,150,151,152,153,154
age,30,50,78,31,34,34,51,23,39,30,...,31,41,70,20,36,46,44,61,53,43
sex,male,female,female,female,female,female,female,female,female,female,...,female,female,female,female,female,female,female,female,male,female
steroid,False,False,True,NaN,True,True,False,True,True,True,...,False,True,False,False,True,True,True,False,False,True
antivirals,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
fatigue,False,True,True,False,False,False,True,False,True,False,...,True,True,True,False,False,True,True,True,True,True
malaise,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,True,False,False
anorexia,False,False,False,False,False,False,True,False,False,False,...,False,False,True,False,False,True,False,False,False,False
liver_big,False,False,True,True,True,True,True,True,True,True,...,True,True,NaN,True,True,True,True,False,True,True
liver_firm,False,False,False,False,False,False,False,False,True,False,...,False,True,NaN,NaN,False,False,True,True,False,False
spleen_palpable,False,False,False,False,False,False,True,False,False,False,...,False,True,NaN,False,False,False,False,False,True,True
spiders,False,False,False,False,False,False,True,False,False,False,...,False,True,NaN,False,False,True,False,True,True,True
ascites,False,False,False,False,False,False,False,False,False,False,...,False,False,NaN,False,False,True,False,False,False,True
varices,False,False,False,False,False,False,False,False,False,False,...,False,True,NaN,False,False,True,False,False,True,False
bilirubin,1.0,0.9,0.7,0.7,1.0,0.9,NaN,1.0,0.7,1.0,...,1.2,4.2,1.7,0.9,0.6,7.6,0.9,0.8,1.5,1.2
alk_phosphate,85.0,135.0,96.0,46.0,NaN,95.0,NaN,NaN,NaN,NaN,...,75.0,65.0,109.0,89.0,120.0,NaN,126.0,75.0,81.0,100.0
sgot,18.0,42.0,32.0,52.0,200.0,28.0,NaN,NaN,48.0,120.0,...,173.0,120.0,528.0,152.0,30.0,242.0,142.0,20.0,19.0,19.0
albumin,4.0,3.5,4.0,4.0,4.0,4.0,NaN,NaN,4.4,3.9,...,4.2,3.4,2.8,4.0,4.0,3.3,4.3,4.1,4.1,3.1
protime,NaN,NaN,NaN,80.0,NaN,75.0,NaN,NaN,NaN,NaN,...,54.0,NaN,35.0,NaN,NaN,50.0,NaN,NaN,48.0,42.0
histology,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
class,live,live,live,live,live,live,die,live,live,live,...,live,die,die,live,live,die,live,live,live,die

In [22]:
melted_df=pd.melt(
    df,
    id_vars=['age','sex','class'],
    value_vars=['bilirubin', 'alk_phosphate', 'sgot', 'albumin', 'protime'],
    var_name='Measurment',
    value_name='Value'
)

In [23]:
melted_df

     age     sex class Measurment  Value
0     30    male  live  bilirubin    1.0
1     50  female  live  bilirubin    0.9
2     78  female  live  bilirubin    0.7
3     31  female  live  bilirubin    0.7
4     34  female  live  bilirubin    1.0
..   ...     ...   ...        ...    ...
770   46  female   die    protime   50.0
771   44  female  live    protime    NaN
772   61  female  live    protime    NaN
773   53    male  live    protime   48.0
774   43  female   die    protime   42.0

[775 rows x 5 columns]

In [27]:
wide_df = melted_df.pivot_table(
    index=['sex', 'class'],
    columns='Measurment',
    values='Value',
  # Use mean to handle potential duplicates
).reset_index()

In [30]:
print(wide_df.head(50))

Measurment     sex class   albumin  alk_phosphate  bilirubin    protime  \
0           female   die  3.151852     122.375000   2.543333  43.500000
1           female  live  3.998980      98.709302   1.133010  67.576271
2             male  live  3.828571     115.312500   1.231250  61.181818

Measurment       sgot
0           99.833333
1           82.609524
2           81.312500